---
import Layout from '../layouts/Layout.astro'
import Hero from '../sections/Hero.astro'
import Proyects from '../sections/Proyects.astro'
---

<Layout title="Adrian Alvarado | Full-stack developer ">
  <main>
    <Hero />
    <Proyects />
  </main>
</Layout>

<style></style>
