---
import Container from '../components/Container.astro'
---

<section class="py-32">
  <Container>
    <div class="flex gap-10 items-center">
      <div class="flex-1">
        <h2 class="text-sm font-bold text-neutral-1 mb-4">A BIT ABOUT ME</h2>
        <p class="leading-6">
          I am a UI/UX designer who is passionate about creating <strong
            class="text-neutral-1"
          >
            I am a UI/UX designer who is passionate about creating beautiful and
            joyful digital experiences. Besides design, I love music, games and
            travelling. I am a UI/UX designer who is passionate about creating
          </strong>
        </p>
      </div>

      <div class="flex-1 grid grid-cols-2 grid-rows-[repeat(4,_auto)] gap-4">
        <img
          class="rounded-xl col-start-1 col-end-2 row-start-2 row-end-4"
          src="https://images.unsplash.com/photo-1579952363873-27f3bade9f55?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt=""
        />
        <img
          class="rounded-xl col-start-2 col-end-3 row-start-1 row-end-3"
          src="https://images.unsplash.com/photo-1507741394728-43db29a2a2af?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt=""
        />
        <img
          class="rounded-xl col-start-2 col-end-3 row-start-3 row-end-5"
          src="https://images.unsplash.com/photo-1586182987320-4f376d39d787?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt=""
        />
      </div>
    </div>
  </Container>
</section>
